extends layout

block content
  section.page1.pub_wrap
    .h1titlebg.animated.zoomIn
    h1.t1.animated.zoomInDown
    .starbt.animated.lightSpeedIn
      a(href='/qa', title='开始答题')
        img(src='/images/ksdt.png', alt='')
      a(href='#', title='查看奖励')
        img(src='/images/ckjl.png', alt='')
