doctype html
html
  head
      meta(charset='utf-8')
      meta#WebViewport(name='viewport', content='width=620px,initial-scale=1,target-densitydpi=device-dpi,minimum-scale=0.5,maximum-scale=1,user-scalable=1')
      meta(name='apple-mobile-web-app-capable', content='yes')
      meta(name='apple-mobile-web-app-status-bar-style', content='black')
      meta(name='format-detection', content='telephone=no')
      title 奥运大玩家 答题赢豪礼
      link(rel='stylesheet', type='text/css', media='all', href='/stylesheets/animate.min.css')
      link(rel='stylesheet', type='text/css', media='all', href='/stylesheets/common.css')
      script(type='text/javascript', src='/javascripts/zepto2.min.js')
      script(type='text/javascript', src='/javascripts/viewport.js')
    block header
  body
    block content
